<div class="position-relative">
<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="icon-coffee green"></i>
            </h4>

            <div class="space-6"></div>
            <form>
                <input type="text" name="username">
                <input type="password" name="password">
                <input type="submit" name="" value="登录">
                <input class="checkbox"></input>
            </form>
            <div class="form-group">
        </div><!-- /widget-main -->

        <div class="toolbar clearfix">
            <div>
                <a href="/request-password-reset'" class="forgot-password-link">
                    <i class="icon-arrow-left"></i>
                    'login forgot password'
                </a>
            </div>

            <div>
                <a href="signup" class="user-signup-link">
                    'login register user'
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>

    </div><!-- /widget-body -->
</div><!-- /login-box -->

</div><!-- /position-relative -->